<hr />
<div *ngIf="!selectedProduct._id"> <p style="font-size: 3cm; background-color: greenyellow;">Изберете артикул :)</p></div>

<div *ngIf="selectedProduct._id">
  <p class="h3">{{selectedProduct.title}}</p>
  <p class="text-muted h6">Номер на продукта:{{ selectedProduct._id }}</p>
  <div class="row">
    <div class="col-md-4">
      <div class="card-img-top zoom">
        <img
          width="300"
          height="350"
          src="{{ selectedProduct.picture }}"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <dl>
          <dd>{{ selectedProduct.description }}</dd>
          <dt>Цена: {{ selectedProduct.price | number: ".2-2" }} lv</dt>
          <dt >
            Автор:
            <p>{{ selectedProduct.author }}</p>
          </dt>
        </dl>
      </div>
      <label>Количество:</label>
      <input
        #amountInput
        type="number"
        class="form-control"
        id="donatedAmount"
        placeholder="1"
      />
    </div>
    <div class="mb-2">
      <a (click)="makePurchase()" class="btn btn-danger btn-lg btn-block"
        ><i class="far fa-credit-card"></i> Купи</a
      >
    </div>
  </div>
</div>
