<h1>Products</h1>
<div *ngIf="!products">
<h1>Please login in system, to see all Products!    <a class="nav-link" routerLink="/login">
  <h2 style="color: #00ff00;">Login</h2></a> </h1>
</div>
<div class="col" data-gutter="15">
  <div class="col-sm-4 col-md-3 col-xs-6">
    <div class="product max-height-custom">
      <div
        *ngFor="let product of products"
        (click)="selectProductHandlers(product)"
      >
        <div class="product-img-wrap text-center">
          <div >
            <h4 class="list-group-item-heading">{{ product.title }}</h4>
          </div>
          <div>
            <h6 class="product-caption-author">{{ product.author }}</h6>
          </div>
          <div>
            <img [src]="product.picture" class="img" data-was-processed="true" />
          </div>
            <div class="product-caption-discount">
              <p class="product-caption-price">{{ product.price }} лв.</p>
            </div>
        </div>
 
    
        <hr />
      </div>
    </div>
  </div>
</div>
