<h1>Products</h1>

<div class="col" data-gutter="15">                
  <div class="col-sm-4 col-md-3 col-xs-6">
<div class="product max-height-custom">

  <div *ngFor="let cause of products" (click)="selectProductHandler(cause)" >
    <div class="product-img-wrap text-center">
      <div class="row">
        <h4 class="list-group-item-heading">{{cause.cause}}</h4>
      </div>
      <div>
        <h6 class="product-caption-author">{{cause.author}}</h6>
      </div>
      <img [src]="cause.imageUrl" class="img" data-was-processed="true">                                     
      </div>     
                                <a class="product-link" href="#"></a>
                            <div class="product-caption">      
      <div class="product-caption-discount">
          <span class="product-caption-price">{{cause.neededAmount}} лв.</span>
       
      </div>
      </div>
      <hr>
    
    </div>

</div>
</div>
 

</div>
        

    